@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">BIENVENIDOS A LOS CELIX SAFE</h1>

    <a class="nav-link active" aria-current="page" href='@Url.Action("Login","Home")'> Login</a>

</div>