@{
    ViewData["Title"] = "Registrarse";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <script src="site.js"></script>
    <link rel="stylesheet" href="estilo.css">

</head>
<body class="Register">

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="col-md-4">
        <h3 class="text-center">Registrarse</h3>

        
        @if (ViewBag.Error != null)
        {
            <div class="alert alert-danger">@ViewBag.Error</div>
        }

        <form action='@Url.Action("Registro", "Home")' method="post" id="registroForm" onsubmit="return validarContraseña()">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingresa tu nombre" required>
            </div>
            
            <div class="form-group">
                <label for="apellido">Apellido</label>
                <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Ingresa tu apellido" required>
            </div>

            <div class="form-group">
                <label for="username">Nombre de Usuario</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Elige un nombre de usuario" required>
            </div>

            <div class="form-group">
                <p> @ViewBag.Error </p>
                <label for="email">Correo Electrónico</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Ingresa tu correo" required>
            </div>
            
            <div class="form-group">
                <label for="email">Nombre de su perro</label>
                <input type="text" class="form-control" id="nombrePerro" name="nombrePerro" placeholder="Ingresa el nombre de tu perro" required>
            </div>

            <div class="form-group">
                <label for="contraseña">Contraseña</label>
                <input type="password" class="form-control" id="contraseña" name="contraseña" placeholder="Elige una contraseña" onkeyup="validarContraseña()" required>
                <p id="mensajeError"> </p> 
            </div>

            <div class="form-group">
                <label for="confirmarContraseña">Confirmar Contraseña</label>
                <input type="password" class="form-control" id="confirmarContra" name="confirmarContra" placeholder="Repite la contraseña" onkeyup="validarContraseña()" required>
                <p id="ContraDif"> </p> 
            </div>

            <button type="submit" class="btn btn-primary btn-block">Registrarse</button>
        </form>
    </div>
</div>

</body>
</html>