USE [master]
GO
/****** Object:  Database [EFSI_database]    Script Date: 29/11/2024 19:41:19 ******/
CREATE DATABASE [EFSI_database]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EFSI_database', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EFSI_database.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EFSI_database_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EFSI_database_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EFSI_database].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EFSI_database]
GO
/****** Object:  Table [dbo].[Categoria_Productos]    Script Date: 29/11/2024 19:41:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria_Productos](
	[idCategoriaProducto] [int] IDENTITY(1,1) NOT NULL,
	[nombreCategoriaProducto] [varchar](150) NOT NULL,
 CONSTRAINT [PK_Categoria_Productos] PRIMARY KEY CLUSTERED 
(
	[idCategoriaProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categoria_Recetas]    Script Date: 29/11/2024 19:41:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria_Recetas](
	[idCategoriaReceta] [int] IDENTITY(1,1) NOT NULL,
	[nombreCategoriaReceta] [varchar](150) NOT NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[idCategoriaReceta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalles_Compras]    Script Date: 29/11/2024 19:41:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalles_Compras](
	[Id_Compra] [int] IDENTITY(1,1) NOT NULL,
	[Precio_Compra] [int] NOT NULL,
	[Cantidad_Productos_Comprados] [int] NOT NULL,
	[Id_Usuario] [int] NOT NULL,
	[Id_Producto] [int] NOT NULL,
	[Fecha_Compra] [date] NOT NULL,
 CONSTRAINT [PK_Detalles_Compras] PRIMARY KEY CLUSTERED 
(
	[Id_Compra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Direccion_usuario]    Script Date: 29/11/2024 19:41:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Direccion_usuario](
	[Id_Direccion_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[Pais] [varchar](150) NOT NULL,
	[Provincia] [varchar](150) NOT NULL,
	[Calle] [varchar](150) NOT NULL,
	[Numero_de_cuadra] [int] NOT NULL,
	[Codigo_Postal] [int] NOT NULL,
	[Numero_de_edificion] [int] NULL,
 CONSTRAINT [PK_Direccion_usuario] PRIMARY KEY CLUSTERED 
(
	[Id_Direccion_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Establecimientos]    Script Date: 29/11/2024 19:41:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Establecimientos](
	[idEstablecimiento] [int] IDENTITY(1,1) NOT NULL,
	[nombreEstablecimiento] [varchar](150) NOT NULL,
	[idUbicacionEstablecimiento] [int] NOT NULL,
	[calificacionEstablecimiento] [int] NOT NULL,
	[descripcionEstablecimiento] [varchar](150) NOT NULL,
	[fotoEstablecimiento] [text] NOT NULL,
 CONSTRAINT [PK_Restaurantes] PRIMARY KEY CLUSTERED 
(
	[idEstablecimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 29/11/2024 19:41:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[idProducto] [int] IDENTITY(1,1) NOT NULL,
	[nombreProducto] [varchar](150) NOT NULL,
	[precioProducto] [int] NOT NULL,
	[idCategoriaProducto] [int] NOT NULL,
	[stock] [int] NOT NULL,
	[calificacionProducto] [int] NOT NULL,
	[fotoProducto] [text] NOT NULL,
	[descripcionProducto] [varchar](50) NULL,
 CONSTRAINT [PK_Productos] PRIMARY KEY CLUSTERED 
(
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recetas]    Script Date: 29/11/2024 19:41:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recetas](
	[idReceta] [int] IDENTITY(1,1) NOT NULL,
	[nombreReceta] [varchar](150) NOT NULL,
	[contenidoReceta] [varchar](500) NOT NULL,
	[calificacionReceta] [int] NOT NULL,
	[idCategoriaReceta] [int] NOT NULL,
	[fotoReceta] [text] NOT NULL,
 CONSTRAINT [PK_Recetas] PRIMARY KEY CLUSTERED 
(
	[idReceta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ubicacion_Establecimiento]    Script Date: 29/11/2024 19:41:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ubicacion_Establecimiento](
	[idUbicacionRestaurante] [int] IDENTITY(1,1) NOT NULL,
	[pais] [varchar](150) NULL,
	[provincia] [varchar](150) NULL,
	[calle] [varchar](200) NULL,
	[numeroDeCuadra] [int] NULL,
 CONSTRAINT [PK_Ubicacion_Restaurant] PRIMARY KEY CLUSTERED 
(
	[idUbicacionRestaurante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 29/11/2024 19:41:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](150) NOT NULL,
	[apellido] [varchar](150) NOT NULL,
	[email] [varchar](150) NOT NULL,
	[contraseña] [varchar](150) NOT NULL,
	[nombre] [varchar](500) NOT NULL,
	[descripcionUsuario] [varchar](500) NULL,
	[direccionUsuario] [varchar](500) NULL,
	[nombrePerro] [varchar](500) NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categoria_Productos] ON 

INSERT [dbo].[Categoria_Productos] ([idCategoriaProducto], [nombreCategoriaProducto]) VALUES (1, N'Galletitas')
INSERT [dbo].[Categoria_Productos] ([idCategoriaProducto], [nombreCategoriaProducto]) VALUES (2, N'Fruta')
SET IDENTITY_INSERT [dbo].[Categoria_Productos] OFF
GO
SET IDENTITY_INSERT [dbo].[Categoria_Recetas] ON 

INSERT [dbo].[Categoria_Recetas] ([idCategoriaReceta], [nombreCategoriaReceta]) VALUES (1, N'Carnivoro')
INSERT [dbo].[Categoria_Recetas] ([idCategoriaReceta], [nombreCategoriaReceta]) VALUES (2, N'Nose')
SET IDENTITY_INSERT [dbo].[Categoria_Recetas] OFF
GO
SET IDENTITY_INSERT [dbo].[Establecimientos] ON 

INSERT [dbo].[Establecimientos] ([idEstablecimiento], [nombreEstablecimiento], [idUbicacionEstablecimiento], [calificacionEstablecimiento], [descripcionEstablecimiento], [fotoEstablecimiento]) VALUES (2, N'Marapopo', 1, 2, N'peor lugar para comer', N'https://dynamic-media-cdn.tripadvisor.com/media/photo-o/16/91/63/7a/20190220-213806-largejpg.jpg?w=1200&h=-1&s=1')
SET IDENTITY_INSERT [dbo].[Establecimientos] OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([idProducto], [nombreProducto], [precioProducto], [idCategoriaProducto], [stock], [calificacionProducto], [fotoProducto], [descripcionProducto]) VALUES (2, N'Banana', 200, 2, 1500, 6, N'https://www.lanacion.com.ar/resizer/v2/las-bananas-son-sumamente-beneficiosas-para-el-6SDTJUKLFRENRKWJBDP5S6Y5LI.jpg?auth=f0a76d73b04980da2caa3c030ea406e3f75ef6924f9597c87a22cd6fe2f0cb08&width=420&height=280&quality=70&smart=true', N'Excelente fruta')
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
SET IDENTITY_INSERT [dbo].[Recetas] ON 

INSERT [dbo].[Recetas] ([idReceta], [nombreReceta], [contenidoReceta], [calificacionReceta], [idCategoriaReceta], [fotoReceta]) VALUES (1, N'Empanada', N'carne, bla bla bla', 10, 1, N'https://media.istockphoto.com/id/1158987157/es/foto/un-primer-plano-de-empanadas-argentinas-con-salsas-y-vino-sobre-un-fondo-r%C3%BAstico-oscuro-de.jpg?s=612x612&w=0&k=20&c=Vf5S4_AadhWrp26ilHSIuFIGHbDOjZrYZWkwzBn72MY=')
INSERT [dbo].[Recetas] ([idReceta], [nombreReceta], [contenidoReceta], [calificacionReceta], [idCategoriaReceta], [fotoReceta]) VALUES (2, N'Budin de pera', N'pera, bla bla', 8, 2, N'https://www.exquisita.com.ar/wp-content/uploads/2014/11/Budin-de-Peras-y-Almendras-.jpg.webp')
SET IDENTITY_INSERT [dbo].[Recetas] OFF
GO
SET IDENTITY_INSERT [dbo].[Ubicacion_Establecimiento] ON 

INSERT [dbo].[Ubicacion_Establecimiento] ([idUbicacionRestaurante], [pais], [provincia], [calle], [numeroDeCuadra]) VALUES (1, N'Argentina', N'CABA', N'Av Gaona', 4981)
SET IDENTITY_INSERT [dbo].[Ubicacion_Establecimiento] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([idUsuario], [username], [apellido], [email], [contraseña], [nombre], [descripcionUsuario], [direccionUsuario], [nombrePerro]) VALUES (1, N'Hamburguesero850', N'Cordero', N'urielpro850@gmail.com', N'Cordero850!', N'Uriel', NULL, NULL, N'Ekes')
INSERT [dbo].[Usuarios] ([idUsuario], [username], [apellido], [email], [contraseña], [nombre], [descripcionUsuario], [direccionUsuario], [nombrePerro]) VALUES (2, N'asasa', N'Mara', N'brunonahuelmarasi@gmail.com', N'Marasi1!', N'asasa', NULL, NULL, N'Pixel')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
ALTER TABLE [dbo].[Detalles_Compras]  WITH CHECK ADD  CONSTRAINT [FK_Detalles_Compras_Productos] FOREIGN KEY([Id_Producto])
REFERENCES [dbo].[Productos] ([idProducto])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Detalles_Compras] CHECK CONSTRAINT [FK_Detalles_Compras_Productos]
GO
ALTER TABLE [dbo].[Detalles_Compras]  WITH CHECK ADD  CONSTRAINT [FK_Detalles_Compras_Usuarios] FOREIGN KEY([Id_Usuario])
REFERENCES [dbo].[Usuarios] ([idUsuario])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Detalles_Compras] CHECK CONSTRAINT [FK_Detalles_Compras_Usuarios]
GO
ALTER TABLE [dbo].[Establecimientos]  WITH CHECK ADD  CONSTRAINT [FK_Restaurantes_Ubicacion_Restaurant] FOREIGN KEY([idUbicacionEstablecimiento])
REFERENCES [dbo].[Ubicacion_Establecimiento] ([idUbicacionRestaurante])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Establecimientos] CHECK CONSTRAINT [FK_Restaurantes_Ubicacion_Restaurant]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Categoria_Productos] FOREIGN KEY([idCategoriaProducto])
REFERENCES [dbo].[Categoria_Productos] ([idCategoriaProducto])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Categoria_Productos]
GO
ALTER TABLE [dbo].[Recetas]  WITH CHECK ADD  CONSTRAINT [FK_Recetas_Categoria] FOREIGN KEY([idCategoriaReceta])
REFERENCES [dbo].[Categoria_Recetas] ([idCategoriaReceta])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Recetas] CHECK CONSTRAINT [FK_Recetas_Categoria]
GO
USE [master]
GO
